.home-newsletter {
    padding: 30px 20px;
    background: orangered;
    height: auto;
    border: 3px solid black;
}

.home-newsletter .single {
    max-width: 650px;
    margin: 0 auto;
    text-align: center;
    position: relative;
    z-index: 2;
}

.home-newsletter .single h2 {
    font-size: 22px;
    color: black;
    text-transform: none;
    margin-bottom: 30px;
}

.home-newsletter .single .form-control {
    height: 50px;
    background: orangered);
    /* border-color: transparent; */
    border-radius: 20px 0 0 20px;

}
.form-control {
    border: 2px solid black;
}

.home-newsletter .single .form-control:focus {
    box-shadow: none;
    border-color: green;
}

.home-newsletter .single .btn {
    min-height: 50px;

    border-radius: 0 20px 20px 0;
    /* background: #243c4f; */
    color: #fff;
}