.home-newsletter {
    padding: 2em 2em;
    /* background: darkorange; */
    height: auto;
    border: .3em solid black;
    background-color: orangered;
    /* background-image: url(/assets/img/orange-marketing-NJ.jpeg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    z-index: -1;
    backdrop-filter: opacity(90%); */
}

.home-newsletter .single {
    max-width: 60em;
    margin: 0 auto;
    text-align: center;
    position: relative;
    /* z-index: 2; */
}

.home-newsletter .single h2 {
    font-size: 5em;
    color: black;
    font-weight: bold !important;
    text-transform: none;
    margin-bottom: 1.5em;
}

.home-newsletter .single .form-control {
    height: 50px;
    /* background: orange; */
    /* border-color: transparent; */
    border-radius: 2em 0 0 2em;

}

.form-control {
    border: .2em solid black;
}

/* .home-newsletter .single .form-control:focus {
    box-shadow: none;
    border-color: green;
} */

.home-newsletter .single .btn {
    min-height: 5em;

    border-radius: 0 2em 2em 0;
    /* background: #243c4f; */
    color: #fff;
}