* {
  font-family: "Lato", "sans-serif";
  /* font-size: 18px; */
}

body {
  color: black;

}

p {
  font-size: 18px;
}

li {
  font-size: 18px;
}

/* /////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////

*** start jumbotron section***

/////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////// */

.jumbotron {
  background-color: white !important;
  border-top: 5px solid orangered;
  border-bottom: 5px solid orangered;
  color: black;
  margin-bottom: 50px;
  /* margin-top: 30px; */
}

#jbutton {
  border: 2px solid black;
  width: auto;
  margin-bottom: 10px !important;
  margin-top: 20px !important;
}

/* /////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////

*** end of jumbotron section***

/////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////// */

/* ***  nav styling section *** */
/* /////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////// */
.navbar-nav {
  margin-bottom: 30px;
}

.navbar-light .navbar-nav .nav-link a {
  color: black !important;
}

.nav-link .dropdown-toggle a {
  color: black !important;
}

.navbar-toggler {
  color: black;
  border-color: black;
}

.nav-item a {
  color: black !important;
}

/* /////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////

*** end of NAV style  section***

/////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////// */

hr {
  border: 3px solid orangered;
  margin-bottom: 30px;
}

/* // Image styling
// Image styling */
#wjhs-image {
  height: 300px;
  width: auto;
}

/* // Image styling
// Image styling */

/* #open-headline {
  height: auto;
  margin-top: 30px;
  background-color: orangered;
  color: black !important;

  border-top: 5px solid black;

  border-bottom: 2px solid black;
} */

/* .h1 {
  font-size: 36px;
} */

/* @media (max-width: 576px) {
  .img-fluid {
    height: auto !important;
  }


} */

/* // Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {

  .img-fluid {
    height: 250px !important;
  }
} 

// Small devices (landscape phones, 576px and up) */
/* @media (min-width: 450px) and (max-width: 750px) {
  .img-fluid {
    height: auto !important;
  }
} */

/* // Medium devices (tablets, 768px and up) */
/* @media (min-width: 751px) and (max-width: 1200px) {

  .img-fluid {
    height: auto !important;
  }
} */

/* // Large devices (desktops, 992px and up)
  @media (min-width: 992px) and (max-width: 1199.98px) {
    ...
  }

  // Extra large devices (large desktops, 1200px and up)
  @media (min-width: 1200px) {
    ...
  } */

/* // Medium devices (tablets, 768px and up)
  @media (max-width: 700px) {
    .img-fluid {
      height: 250px !important;
    }
  }

  // Large devices (desktops, 992px and up)
  @media (min-width: 992px) {
    ...
  }

  // Extra large devices (large desktops, 1200px and up)
  @media (min-width: 1200px) {
    ...
  } */

/* /////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////// */
/* Start styling for buttons
Start styling for buttons */
/* /////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////// */

.btn-outline-primary {
  border: 3px solid black !important;
  color: orangered !important;
  background-color: white !important;
}

.btn-outline-primary:hover {
  color: white !important;
  background-color: orangered !important;
  border: 3px solid black !important;
}

.btn-outline-primary:focus {
  color: black !important;
  background-color: orangered !important;
  border: 3px solid black !important;
}

.btn-outline-primary:active {
  color: black !important;
  background-color: orangered !important;
  border: 3px solid black !important;
}

/* #first-button {
  border: 2px solid black !important;
} */

.btn {
  margin-top: 25px;
  margin-bottom: 25px;
}

/* /////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////// */
/* end of button styling
end of button styling */
/* /////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////// */

/* /////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////
*** start of cards section***
*** start of cards section***
/////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////// */

* .card {
  border: none;
}

.card-title {
  font-size: 20px;
}

/* /////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////

***  end of card styling section***

/////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////// */

#orange-footer {
  /* margin-top: 30px; */
  color: black;
  background-color: orangered !important;
  border-top: black 5px solid;

}

/* #orange-footer i {
  color: black !important;
} */

#orange-footer a {
  color: black;
  font-size: 18px;
}

#orange-footer i {
  color: black;
}

/* #orange-footer h4 {
  color: black;
} */

#footer-nav {
  background-color: orangered !important;
}

/* #orange-footer navbar-nav {
  background-color: orangered !important;
} */