* {
  font-family: "Lato", sans-serif;
  /* font-size: 18px; */
}

body {
  color: black;
  width: 100%;
}

/* a {
    color: orangered !important;
    font-size: 18px;


} */

nav .navbar-nav li a {
  color: black !important;
}

p {
  font-size: 18px;
}

li {
  font-size: 18px;
}

.navbar-light .navbar-toggler {
  color: black;
  border-color: orange;
}

hr {
  border: 3px solid orangered;
  margin-bottom: 30px;
}

#header-logo {
  height: 90px;
  margin-top: 20px;
}

#open-headline {
  height: auto;
  margin-top: 30px;
  background-color: orangered;
  color: black !important;
  padding: 30px 50px;

  border-top: 4px solid black;
  border-top: 5px solid black;

  border-bottom: 2px solid black;
}

.h1 {
  font-size: 48px;
}

/* @media (max-width: 576px) {
  .img-fluid {
    height: 250px !important;
  }


} */

/* // Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {

  .img-fluid {
    height: 250px !important;
  }
} */

/* // Small devices (landscape phones, 576px and up) */
/* @media (min-width: 450px) and (max-width: 750px) {
  .img-fluid {
    height: 250px !important;
  }
}

/* // Medium devices (tablets, 768px and up) */
/* @media (min-width: 751px) and (max-width: 1200px) {

  .img-fluid {
    height: 350px !important;
  }
} */

/* // Large devices (desktops, 992px and up)
  @media (min-width: 992px) and (max-width: 1199.98px) {
    ...
  }

  // Extra large devices (large desktops, 1200px and up)
  @media (min-width: 1200px) {
    ...
  } */



/* // Medium devices (tablets, 768px and up)
  @media (max-width: 700px) {
    .img-fluid {
      height: 250px !important;
    }
  }

  // Large devices (desktops, 992px and up)
  @media (min-width: 992px) {
    ...
  }

  // Extra large devices (large desktops, 1200px and up)
  @media (min-width: 1200px) {
    ...
  } */

/* Start styling for buttons
Start styling for buttons */


.btn-outline-primary {
  border: 3px solid orangered !important;
  color: orangered !important;
  background-color: white !important;
}

.btn-outline-primary:hover {
  color: white !important;
  background-color: orangered !important;
  border: 3px solid black !important;
}

.btn-outline-primary:focus {
  color: black !important;
  background-color: orangered !important;
  border: 3px solid black !important;
}

.btn-outline-primary:active {
  color: black !important;
  background-color: orangered !important;
  border: 3px solid orange !important;
}

#first-button {
  border: 2px solid black !important;
}

.btn {
  margin-top: 25px;
  margin-bottom: 25px;
}

/* End styling for buttons */
/* End styling for buttons */

* .card {
  border: none;
}

.card-title {
  font-size: 20px;
}

/*Buttons*/

/*Buttons*/

#social-row {
  margin-top: 10px;
  /* padding-top: 5px;
    padding-bottom: 5px; */
  text-align: right;
}

#web-footer {
  /* background-color: orange; */
  margin-top: 50px;
  color: black !important;
  background-color: orangered;
}

.a {
  color: black;
}


#footer-links.li a {
  color: black !important;
}

#wjhs-image {
  height: 300px;
  width: auto;
}