* {
  font-family: 'Lato', 'sans-serif', Arial, Helvetica, sans-serif;
  /* font-size: 18px; */
}

a {
  color: black;
  /* font-weight: bold; */

}

a:hover {
  color: orangered;

}

body {
  color: black;
  width: auto;
  font-size: 18px;
  overflow-x: hidden;
}


p {
  font-size: 16px;
}

li {
  font-size: 16px;
}

/*
*** start jumbotron section***
///////////////////////////////////////////////////////////////////
 */

.jumbotron {
  background-color: white !important;
  border-top: 5px solid orangered;
  border-bottom: 5px solid orangered;
  color: black;
  margin-bottom: 50px;
  /* margin-top: 30px; */
}

#jbutton {
  border: 2px solid black;
  width: auto;
  margin-bottom: 10px !important;
  margin-top: 20px !important;
}

/* ///////////////////////////////////////////////////////////////////////////////////
*** end of jumbotron section***
///// */

/* ***  nav styling section *** */
/* 
////////////////////////// */
.navbar-nav {
  margin-top: 10px;
  margin-bottom: 10px;
}





/* .navbar-toggler-icon {
  color: black;

} */




.fa-phone:hover {
  color: black !important;
}

.fa-envelope-o:hover {
  color: black !important;
}

/* /////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////

*** end of NAV style  section***

/////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////// */

hr {
  border: 3px solid orangered;
  margin-bottom: 30px;
}

/* // Image styling
// Image styling */
#wjhs-image {
  height: 300px;
  width: auto;
}

/* // Image styling
// Image styling */

/* #open-headline {
  height: auto;
  margin-top: 30px;
  background-color: orangered;
  color: black !important;

  border-top: 5px solid black;

  border-bottom: 2px solid black;
} */

/* /////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////// */
/* Start styling for buttons
Start styling for buttons */
/* /////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////// */

.btn-outline-primary {
  border: 3px solid black !important;
  color: orangered !important;
  background-color: white !important;
}

.btn-outline-primary:hover {
  color: white !important;
  background-color: orangered !important;
  border: 3px solid black !important;
}

.btn-outline-primary:focus {
  color: black !important;
  background-color: orangered !important;
  border: 3px solid black !important;
}

.btn-outline-primary:active {
  color: black !important;
  background-color: orangered !important;
  border: 3px solid black !important;
}

/* #first-button {
  border: 2px solid black !important;
} */

.btn {
  margin-top: 25px;
  margin-bottom: 25px;
}

/* /////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////// */
/* end of button styling
end of button styling */
/* /////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////// */

/* /////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////
*** start of cards section***
*** start of cards section***
/////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////// */

* .card {
  border: none;
}

.card-title {
  font-size: 20px;
}

/* //////////////////////
***  end of card styling section***
/////////// */

#orange-footer {
  /* margin-top: 30px; */
  color: black;
  background-color: orangered !important;
  border-top: black 3px solid;
}

/* #orange-footer i {
  color: black !important;
} */

#orange-footer a {
  color: black;
  font-size: 18px !important;
}

#orange-footer i {
  color: black;
}

/* #orange-footer h4 {
  color: black;
} */

#footer-nav {
  background-color: orangered !important;
}