* {
  font-family: 'Lato', 'sans-serif', Arial, Helvetica;
  /* font-size: 18px; */
}

a {
  color: black;
  /* font-weight: bold; */

}

a:hover {
  color: orangered;

}

body {
  color: black;
  width: auto;
  font-size: 1em;
  overflow-x: hidden;
}


p {
  font-size: 1em;
}

li {
  font-size: 1em;
}

/*
*** start jumbotron section***
///////////////////////////////////////////////////////////////////
 */

.jumbotron {
  background-color: white !important;
  border-top: .5em solid orangered;
  border-bottom: .5em solid orangered;
  color: black;
  margin-bottom: 5em;
  /* margin-top: 30px; */
}

#jbutton {
  border: .1em solid black;
  width: auto;
  margin-bottom: 1em !important;
  margin-top: 2em !important;
}

/* ///////////////////////////////////////////////////////////////////////////////////
*** end of jumbotron section***
///// */

/* ***  nav styling section *** */
/* 
////////////////////////// */
.navbar-nav {
  margin-top: 1em;
  margin-bottom: 1em;
}





/* .navbar-toggler-icon {
  color: black;

} */




.fa-phone:hover {
  color: black !important;
}

.fa-envelope-o:hover {
  color: black !important;
}

.fab:hover {
  color: black !important;
}


hr {
  border: .25em solid orangered;
  margin-bottom: 2em;
}

/* // Image styling
// Image styling */
#wjhs-image {
  height: 15em;
  width: auto;
}

/* // Image styling
// Image styling */




/* /
/* Start styling for buttons
*/


.btn-outline-primary {
  border: .1em solid black !important;
  color: orangered !important;
  background-color: white !important;
}

.btn-outline-primary:hover {
  color: white !important;
  background-color: orangered !important;
  border: .1em solid black !important;
}

.btn-outline-primary:focus {
  color: black !important;
  background-color: orangered !important;
  border: .1em solid black !important;
}

.btn-outline-primary:active {
  color: black !important;
  background-color: orangered !important;
  border: .1em solid black !important;
}



.btn {
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}


* .card {
  border: none;
}

.card-title {
  font-size: 1.2em;
}

/* 
***  end of card styling section***
 */

#orange-footer {
  /* margin-top: 30px; */
  color: black;
  background-color: orangered !important;
  border-top: black .1em solid;
}


#orange-footer a {
  color: black;
  font-size: 1em !important;
}

#orange-footer i {
  color: black;
}


#footer-nav {
  background-color: orangered !important;
}